# Blockchain Configuration
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY

# Chainlink Configuration (Sepolia)
LINK_TOKEN=0x779877A7B0D9E8603169DdbD7836e478b4624789
CHAINLINK_ORACLE=0x6090149791d654a000460114444033221006114a
CHAINLINK_JOB_ID=ca98366cc37d4222aadd18d8b1d0303a

# API Keys
WEATHER_API_KEY=YOUR_OPENWEATHERMAP_API_KEY

# Deployment
WEATHER_ORACLE_ADDRESS=
SUBGRAPH_QUERY_URL=
